{# The main page of the application #}


{% extends "_common.njk" %}

{% block content %}
<!-- carousel -->
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="./img/innovation4.jpg" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <h2>Creativity</h2>
        <p>The heart and soul of our company is creativity.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="./img/perspective.jpg" alt="Second slide" >
      <div class="carousel-caption d-none d-md-block">
        <h2>Perspectives</h2>
        <p>We strive to look beyond for broader perspectives.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="./img/happiness.jpg" alt="Third slide">
      <div class="carousel-caption d-none d-md-block">
        <h2>Inclusivity</h2>
        <p>We work so that all can live in a better place.</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- quote -->
<div class="card">
  <div class="card-header">
    What our clients have to say about us
  </div>
  <div class="card-body quoteBox">
    <img src="./img/becodeSensei.png" alt="">
    <blockquote class="blockquote mb-0">
      <p>Une équipe de passionnés qui effectue son travail de manière pragmatique.</p>
      <footer class="blockquote-footer">Nicolas Vanhoren from <cite title="Source Title">Becodecademy</cite></footer>
    </blockquote>
  </div>
</div>

<!-- creative part -->
<div class="cardBox">
  <div class="card award">
    <div class="card-body-award">
      <div class="cardLogo">
        <img src="./img/cesa.png" alt="">
        <h5 class="cardLogoCaption">Central European Startup Awards</h5>
        <blockquote class="blockquote mb-0">
          <p>Startup of the year 2018</p>
        </blockquote>
      </div>
    </div>
  </div>
</div>
{% endblock %}
