{% extends "_common.njk" %}

{% block content %}
<div class="infoBox">
  <div class="practicalInfo">
    <div class="adress">
      <h3>Adress</h3>
      <h5>Boulevard de la Sauvenière 140/003</h5>
      <h5>4000 Liège</h5>
      <h5>tel : (04)223.12.34</h5>
    </div>
    <div class="businessHours">
      <h3>Business hours</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Morning</th>
            <th scope="col">Afternoon</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Monday</th>
            <td>09.30-12.30</td>
            <td>14.00 - 17.30</td>
          </tr>
          <tr>
            <th scope="row">Tuesday</th>
            <td>09.30-12.30</td>
            <td>14.00 - 17.30</td>
          </tr>
          <tr>
            <th scope="row">Wednesday</th>
            <td>09.30-12.30</td>
            <td>14.00 - 17.30</td>
          </tr>
          <tr>
            <th scope="row">Thursday</th>
            <td>09.30-12.30</td>
            <td>14.00 - 17.30</td>
          </tr>
          <tr>
            <th scope="row">Friday</th>
            <td>09.30-12.30</td>
            <td>14.00 - 17.30</td>
          </tr>
          <tr>
            <th scope="row">Saturday</th>
            <td>closed</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="contactForm">
    <div class="parallax">

      <div class="paralTitle">
        <h3>Contact us</h3>
      </div>

      <div class="paralContent">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
          <div class="form-footer">
            <button type="button" id="contactButton" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Send message</button>
          </div>
        </form>
      </div>
      <div class="paralVoid">
        <!-- void -->
      </div>
    </div>

  </div>
  <br>
  <div class="googleMap z-depth-1-half map-container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1265.1225509823544!2d5.5661058759437685!3d50.64113899584253!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c0fa108a6c5f5b%3A0xcec15903c28fcde9!2sBoulevard+de+la+Sauveni%C3%A8re+140%2F003%2C+4000+Li%C3%A8ge!5e0!3m2!1sfr!2sbe!4v1550150740658"
            width="100%"
            height="450"
            frameborder="0"
            style="border:0"
            allowfullscreen></iframe>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Thank you for contacting us. We will be in touch shortly.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
