{% extends "_common.njk" %}

{% block content %}
<h1>Team page</h1>
<div class="teamBox">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="./img/bickyMaster.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Founder - <br> Thibaut Janssens</h5>
      <p class="card-text">This project exists thanks to mr Janssens's entrepreneurial spirit, business acumen, and clear product vision.</p>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="./img/matthieu.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Web Development - <br> Matthieu Jasselette</h5>
      <p class="card-text">The technology that supports our website and product was engineered by Matthieu.</p>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="./img/nadine.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">User Experience Design - <br> Nadine Traufler</h5>
      <p class="card-text">It is through Nadine's vision that we can anticipate our user’s needs when using a product, ensuring an intuitive, impactful, and delightful experience.</p>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="./img/alex.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Product Management - <br> Alexandre Bove</h5>
      <p class="card-text">Alexandre's job is to identify market opportunities, define the product being built, and determine the return on investment.</p>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="./img/lara.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Digital Marketing - <br> Lara Loicq</h5>
      <p class="card-text">Combining traditional marketing tactics with new technologies, Lara's area of expertise includes social media, search engine optimization and online advertising.</p>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <!-- <img class="card-img-top" src="#" alt="Card image cap"> -->
    <div class="card-body">
      <!-- <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
  </div>
</div>
{% endblock %}
