
/*
  Import the common theme.
*/
@import "./_shared/scss/theme.scss";

/*
  If you need some CSS for any reason you can put it here.
*/

.teamBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.quoteBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.infoBox {

}

.practicalInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.googleMap {
  display: none;
}

@media screen and (min-width : 600px){
  .googleMap {
    display: block;
  }
}

.parallax {
  /* The image used */
  background-image: url("./img/innovation3.jpg");
  /* Set a specific height */
  height: 500px;
  // width: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.paralTitle {
  height: 100px;
  display: flex;
  align-items: center;
}

.paralContent {
  // max-width: 100%;
  background-color: white;
}

.paralVoid{
  height: 100px;
}
