
/*
  Import the common theme.
*/
@import "./_shared/scss/theme.scss";

/*
  If you need some CSS for any reason you can put it here.
*/

.teamBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.quoteBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.blockquote{
  align-items: center;
}

.award{
  width: 50%;
}

.card-body-award {
  display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
}

.cardLogo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.cardLogoCaption{
  width: 8rem;
}

.carousel-caption{
  font-size: x-large;
}

.practicalInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.googleMap {
  display: none;
}

@media screen and (min-width : 600px){
  .googleMap {
    display: block;
  }
}


.parallax {
  /* The image used */
  background-image: url("./img/innovation3_light.jpg");
  /* Set a specific height */
  height: 500px;
  // width: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.paralTitle {
  height: 25%;
  display: flex;
  align-items: center;
}

.paralContent {
  // max-width: 100%;
  height: auto;
  background-color: white;
}

.paralVoid{
  height: 25%;
}

.form-footer {
  padding-bottom: 0.5em;
}
