{% extends "_common.njk" %}

{% block content %}

<!-- Container element -->
<div class="parallax">
  <div class="paralVoid">
    <!-- void -->
  </div>

  <div class="paralTitle">
    <!-- title goes here -->
  </div>

  <div class="paralVoid">
    <!-- void -->
  </div>

  <div class="paralContent">
    <!-- content goes here -->
  </div>

  <div class="paralVoid">
    <!-- void -->
  </div>
</div>
{% endblock %}
